.volume {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
}
.volume:hover .inputContainer {
  width: 80px;
}
.inputContainer {
  overflow: hidden;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  background: var(--white);
  border-radius: 1.3px;
  outline: none;
}

.slider::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--highlight);
  cursor: pointer;
  -webkit-appearance: none;
}
.slider::-webkit-slider-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--highlight);
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.slider::-ms-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--highlight);
  cursor: pointer;
  -webkit-appearance: none;
}
.slider::-ms-fill-lower {
  background: var(--highlight);
}

.soundplayerButton {
  display: flex;
  background-color: transparent;
  color: var(--text);
  font-size: 2em;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  transition: transform, box-shadow, 0.05s ease;
}
.soundplayerButton:hover {
  color: var(--highlight);
}

@media screen and (max-width: 1023px) {
  .inputContainer {
    display: none;
  }
}
