.container {
  display: grid;
  grid-template-columns: 12em 1fr auto;
  grid-template-areas: "logo searchbar navlinks";
  align-items: center;
  grid-template-rows: 1fr;
  padding: 1em 0;
  color: white;
}

@media screen and (max-width: 1023px) {
  .logo {
    display: none;
  }
  .container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: "searchbar navlinks";
    padding-left: 1em;
  }
}

.logo {
  grid-area: logo;
  justify-self: center;
}

.searchbar {
  grid-area: searchbar;
}

.navlinks {
  grid-area: navlinks;
}

.navlinks ul {
  display: flex;
  justify-content: space-between;
  /* flex: 1 1 0%; */
}

.burger {
  padding: 0 1em;
}
