:root {
  --main-bg-color: #1c2938;
}

:root::-webkit-scrollbar-thumb {
  width: 8px;
  background: orange;
}

:root::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

.layoutMain {
  display: grid;
  min-height: 100vh;
  grid:
    "header" auto
    "nav" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  background: purple;
}

@media (min-width: 40em) {
  .layoutMain {
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto calc(100vh - 200px) auto;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  grid-area: nav;
}

main {
  padding: 1em;
  grid-area: main;
  background: lightgray;
  overflow: auto;
}

footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
}

nav,
footer {
  padding: 1em;
}
