.volume {
  display: flex;
  /* position: relative; */
  align-items: center;
  justify-content: flex-start;
}
.volume:hover .inputContainer {
  width: 100%;
}
.inputContainer {
  overflow: hidden;
  width: 0;
  transition: width 0.2s ease-out;
}
.volumeRange {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
.volumeRange:focus {
  outline: none;
}

/* track */
.volumeRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px;
}
.volumeRange::-moz-range-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px;
}
.volumeRange::-ms-track {
  width: 100%;
  height: 0.2em;
  cursor: pointer;
  animate: 0.2s;
  background: white;
  border-radius: 1.3px;
}

/* thumb dial */
.volumeRange::-moz-range-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--red);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
.volumeRange::-webkit-slider-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--red);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}
.volumeRange::-ms-thumb {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: var(--red);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4em;
}

/* progress fill */
.volumeRange::-ms-fill-lower {
  background: var(--red);
}

:root {
  --sb-volume-dial-color: #fc561e;
  --sb-volume-track-color: #ddd;
  --sb-volume-progress-color: #fc561e;
}
