.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  padding: 1em;
}

.container::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
