:root {
  --bg_1: #1c2938;
  --black: black;
  --grey: rgb(212, 212, 214);
  --darkGrey: #707070;
  --purple: #9932cc;
  --highlight: var(--red);
  --darkHighlight: darkred;
  --offWhite: rgb(212, 212, 214);
  --white: white;
  --text: white;
  --textDark: black;
  --yellow: #ecc938;
  --beige: #f2f1e9;
  --lightGreen: #869786;
  --lightBlue: #5ea1c1;
  --purple: #4a2e54;
  --darkBlue: #0e6fa8;
  --orange: #ad512a;
  --red: #9f2b30;
  --darkAvo: #8d872c;
  --lightAvo: #b8af0c;
  --forestGreen: #174a19;
  --brown: #897209;
  --font1: "distopia";
  --font2: "corso";
  --banner: 12vw;
  --bannerMobile: 20vw;
  --largeish: 1.5rem;
  --normal: 1rem;
  --small: 0.5rem;
  scrollbar-color: var(--highlight) var(--black);
  scrollbar-width: 8px;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 20px;
}

.layoutMain {
  display: grid;
  min-height: 100vh;
  grid:
    "header" auto
    "nav" auto
    "main" 1fr
    "footer" auto
    / 1fr;
}

header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100px;
  /* background: var(--bg_1); */
}

nav {
  grid-area: nav;
}

nav ::-webkit-scrollbar {
  background-color: var(--yellow);
}

main {
  grid-area: main;
  overflow: auto;
  /* padding: 1em; */
}

footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;
  padding: 1em;
  height: 100px;
}

@media screen and (min-width: 1024px) {
  .layoutMain {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto calc(100vh - 200px) auto;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer";
  }
  nav {
    position: sticky;
    top: 0;
  }
}
