.container {
  color: var(--offWhite);
}

.items {
  height: 500px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.recentSongsContainer {
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  text-align: left;
}

.category {
  font-weight: bolder;
}

.songsContainer {
  color: var(--offWhite);
  border: 1px solid var(--offWhite);
  height: 500px;
  max-width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  justify-items: start;
  grid-gap: 10px;
}

.recentSongColumnTitle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid var(--offWhite);
  align-items: center;
}

.playlistBackground {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.buttonAndTitle {
  display: flex;
}

.buttonContainer {
  margin-top: 2px;
  padding-right: 10px;
}

.recentSongRow {
  cursor: pointer;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat (5, 1fr); */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid lightgrey;
  align-items: end;
}

.recentSongRow:hover {
  color: var(--red);
}

.title {
  text-align: left;
  font-size: var(--largeish);
  color: var(--offWhite);
  font-family: var(--font2);
}

.clickedPlaylistContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: span 3;
  grid-column: span 3;
  grid-gap: 0.5em;
}

.clickedPlaylistTitleBar {
  display: flex;
  justify-content: space-between;
}

.clickedPlaylistTitle {
  text-transform: uppercase;
}

.clickedPlaylistClose {
  color: var(--offwhite);
}

.lightGreen {
  background: var(--lightGreen);
}

.lightBlue {
  background: var(--lightBlue);
}

.purple {
  background: var(--purple);
}

.darkBlue {
  background: var(--darkBlue);
}

.orange {
  background: var(--orange);
}

.red {
  background: var(--red);
}

.darkAvo {
  background: var(--darkAvo);
}

.darkgrey {
  background: var(--darkGrey);
}

.lightAvo {
  background: var(--lightAvo);
}

.forestGreen {
  background: var(--forestGreen);
}

.brown {
  background: var(--brown);
}

@media only screen and (max-width: 600px) {
  /* .recentSongsContainer {
    width: 80%;
    height: 80%;
  } */
  /* .songsContainer {
    height: 300px;
  }

  .items {
    height: 300px;
  } */
}
