.container {
  color: var(--offWhite);
}

.item:hover {
  color: var(--highlight);
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  grid-gap: 10px;
}

.title {
  text-align: left;
  font-size: 1.3rem;
  color: var(--black);
  font-family: "corso";
}

.clickedPlaylistContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: span 3;
  grid-column: span 3;
  grid-gap: 0.5em;
}

.clickedPlaylistTitleBar {
  display: flex;
  justify-content: space-between;
}

.clickedPlaylistTitle {
  text-transform: uppercase;
}

.clickedPlaylistClose {
  color: var(--offwhite);
}

.lightGreen {
  background: var(--lightGreen);
}

.lightBlue {
  background: var(--lightBlue);
}

.purple {
  background: var(--purple);
}

.darkBlue {
  background: var(--darkBlue);
}

.orange {
  background: var(--orange);
}

.red {
  background: var(--red);
}

.darkAvo {
  background: var(--darkAvo);
}

.darkGrey {
  background: var(--darkGrey);
}

.lightAvo {
  background: var(--lightAvo);
}

.forestGreen {
  background: var(--forestGreen);
}

.brown {
  background: var(--brown);
}
