.container {
}

.card {
  height: 100%;
  width: 100%;
  /* background: var(--white); */
  /* border: 1px solid var(--white); */
  color: var(--offWhite);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 500px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: left;
}

.back {
  padding-left: 1em; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.back:hover {
  color: var(--highlight);
}

.title {
  font-size: 2em;
  align-self: left;
  padding-bottom: 1em;
  font-weight: bold;
}

.subject {
  color: var(--yellow);
}

.composer {
}

.tempo {
  font-weight: bold;
}

.instrumentation {
  font-weight: bold;
}

.genre {
  font-weight: bold;
}

.mood {
  font-weight: bold;
}

.soundsLike {
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  outline: none;
  width: 100%;
  align-items: center;
  padding: 1em 0;
  outline: none;
}

.button {
  color: var(--text);
  padding: 1.5em;
  border-radius: 9999px;
  background: var(--highlight);
  outline: none;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: var(--darkHighlight);
  outline: none;
}

.waveformImage {
  width: 100%;
  position: relative;
}
