.container {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.title {
  /* background: var(--white); */
  padding: 1.5rem;
}

.title h1 {
  font-family: "corso";
  color: var(--yellow);
  /* font-size: 8vw; */
  font-size: var(--banner);
  line-height: 1;
}

/* .title h2 {
  color: var(--black);
  font-size: 1vw;
  text-transform: uppercase;
} */

.title h3 {
  color: var(--offWhite);
  font-size: var(--largeish);
  font-family: "corso";
  text-transform: uppercase;
}

.recents {
  display: grid;
  padding: 1rem;
  /* background: var(--white); */
  /* grid-template-columns: repeat(auto-fit, minmax(375px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  justify-items: center;
  margin: auto 0;
  /* border: 2px solid white; */
}

@media screen and (min-width: 1800px) {
  .title h1 {
    font-size: var(--bannerHuge);
  }
}

@media screen and (max-width: 1023px) {
  .title h1 {
    font-size: var(--bannerMobile);
  }

  .title h2 {
    font-size: 8vw;
  }

  .title h3 {
    /* font-size: var(--bylineMobile); */
  }
}
