.container {
  display: grid;
  height: 100%;
  grid-template-columns: 12em 1fr auto;
  grid-template-areas: "logo searchbar navlinks";
  align-items: center;
  grid-template-rows: 1fr;
  padding: 0.5em 0;
  color: var(--text);
  z-index: 999;
}

@media screen and (max-width: 1023px) {
  .logo {
    display: none;
  }
  .container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: "searchbar navlinks";
    padding-left: 1em;
  }
}

.logo {
  grid-area: logo;
  justify-self: center;
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}

.logo:hover {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.searchbar {
  grid-area: searchbar;
}

.navlinks {
  grid-area: navlinks;
}

.navlinks ul {
  display: flex;
  justify-content: space-between;
  /* margin: 0 auto; */
  padding: 0 2em;
  /* flex: 1 1 0%; */
}

@media screen and (max-width: 1023px) {
  .container {
    padding-bottom: 0;
  }

  .navlinks ul {
    justify-content: end;
    padding-right: 0;
  }
}

/* .navlinks ul::before {
  content: "";
  width: 2px;
  background: var(--white);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.navlinks ul::after {
  height: 2px;
  background: var(--white);
  content: "";
  width: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: width 0.4s;
  transition-timing-function: cubic-bezier(1, -0.65, 0, 2.31);
  left: 50%;
  margin-top: 2rem;
}

.navlinks ul:hover,
:focus {
  color: var(--highlight);
  outline: none;
}

.navlinks ul:hover::after,
:focus::after {
  width: 50px;
} */

.burger {
  padding: 0 1em;
}
