.container {
  display: flex;
  flex-direction: column;
  color: var(--textDark);
  background: var(--yellow);
  overflow: auto;
  scrollbar-color: var(--highlight) var(--yellow);
  padding: 1em 0;
}

.container ::-webkit-scrollbar {
  background-color: var(--yellow);
}

.container ::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 20px;
}

.filtersTitle {
  font-size: 1.5em;
  font-family: var(--font2);
  margin: auto;
}

.filtersTitle button {
  color: var(--textDark);
}

.filtersTitle span {
  color: var(--textDark);
  float: right;
  margin-top: 8px;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0.5em 0;
  }
}
