.listItem {
  margin-left: 1em;
}

.container {
  cursor: pointer;
  /* padding: 0.5em 0; */
  border-bottom: 3px solid black;
  box-sizing: border-box;
}

.categoryTitle {
  font-size: 1.5em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoryTitle:hover {
  color: var(--highlight);
  cursor: pointer;
}

.caret {
  margin-top: 4px;
}

.contentContainer {
  /* padding: 0.5em; */
  margin-right: 1em;
  border: 1px solid var(--black);
  text-align: left;
  max-height: 200px;
  overflow: auto;
}

.contentContainer ul {
  list-style-type: none;
  font-size: small;
  font-family: var(--font1);
}

.contentContainer ul ::-webkit-scrollbar {
  background-color: var(--yellow);
}

.contentCategory {
  padding-left: 0.5em;
  display: inline;
}
