.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto 1fr auto;
  grid-template-areas: "play title volume progress time";
  grid-gap: 2em;
  align-items: center;
  overflow: hidden;
  padding: 0.25em 0;
}
.play {
  grid-area: play;
}

.title {
  grid-area: title;
}

.volume {
  grid-area: volume;
}

.progress {
  grid-area: progress;
}

.time {
  grid-area: time;
}

@media screen and (max-width: 1023px) {
  .container {
    font-size: smaller;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: auto 1fr;
    grid-gap: 0.5em;
    grid-template-areas:
      "title title title title"
      "play volume progress time";
  }
  .play {
    justify-self: center;
  }
  .title {
    justify-self: center;
    align-self: end;
  }
  .volume {
    justify-self: center;
  }
  .time {
    justify-self: center;
  }
}
