.soundplayerButton {
  display: flex;
  background-color: transparent;
  color: var(--text);
  font-size: 2em;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  transition: transform, box-shadow, 0.05s ease;
  outline: none;
}
.soundplayerButton:hover {
  transform: scale(1.0625);
  color: var(--highlight);
  outline: none;
}
.soundplayerButton:focus {
  transform: scale(0.9375);
  outline: none;
}
.soundplayerButton:active {
  box-shadow: inset 0 0 0 2px var(--highlight);
}
.soundplayerButton:hover,
.soundplayerButton:focus {
  box-shadow: none;
}
