.container {
  grid-area: paginator;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .container {
    justify-content: center;
    justify-self: center;
  }
}

.active {
  color: var(--offWhite);
  padding: 0.5em;
}

.active:hover {
  color: var(--highlight);
}

.inactive {
  pointer-events: none;
  cursor: default;
  padding: 0.5em;
  color: var(--darkGrey);
}
