.link {
  padding: 0 0.5em;
  text-decoration: none;
  color: var(--text);
}

.link:hover {
  color: var(--highlight);
}

.dropdown {
  position: absolute;
  background: var(--bg_1);
  color: var(--text);
  right: 0;
  margin-top: 1em;
  padding: 1em;
  overflow: auto;
  z-index: 30;
}

.toggle {
  visibility: hidden;
}

.name {
  display: inline-block;
  position: relative;
}

.space {
  padding: 0.75em 0;
}
